@page
@model WarehouseSystem.Pages.IndexModel
@{
    ViewData["Title"] = "Sklad";
}

<h2>Přehled skladu</h2>

@if (Model.LowStockProducts.Any())
{
    <div class="alert alert-danger">
        <strong>Pozor!</strong> Následující produky jsou pod minimálním stavem:
    </div>

    <table class="table table-danger">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Zásoba</th>
                <th>Minimum</th>
                <th>Chybí</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.LowStockProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.WarehouseInv ks</td>
                    <td>@product.MinimumInv ks</td>
                    <td>@(product.MinimumInv - product.WarehouseInv) ks</td>
                    <td>
                        <a href="/Products/Edit/@product.Id" class="btn btn-sm btn-warning">Upravit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success">
        Všechny produkty na dostatečné zásobě.
    </div>
}